/* Header Area */
* {
  direction: rtl;
}
#site-header .navbar-brand {
  color: orange;
}
/* Main Content */
#main-content .jumbotron {
  margin: 2.5rem 0;
}
#main-content .jumbotron .btn-primary {
  background: #2f2f2f;
  border: 2px dashed orange;
}
/* Layout Footer Area */
#site-footer .copyright {
  color: #fff;
  text-transform: capitalize;
  font-style: italic;
  font-size: 2rem;
}
#site-footer .copyright .heart {
  color: orange;
}
form div label {
  direction: rtl !important;
  margin-right: 8% !important;
}
