
        <h2 class="content-heading">اضافة تعاقد</h2>
                    <div class="row">
                         <div class="col-md-4">
                            <!-- Material Lock -->
                            <div class="block block-themed">
                                <div class="block-header bg-gd-emerald">
                                    <h3 class="block-title">فضلاً ادخل البيانات الاتية</h3>
                                    <div class="block-options">
                                        <button type="button" class="btn-block-option" data-toggle="block-option" data-action="state_toggle" data-action-mode="demo">
                                            <i class="si si-refresh"></i>
                                        </button>
                                        <button type="button" class="btn-block-option" data-toggle="block-option" data-action="content_toggle"></button>
                                    </div>
                                </div>
                                <div class="block-content block-content-full text-center bg-gd-leaf">
                                    <img class="img-avatar img-avatar96 img-avatar-thumb" src="media/avatars/avatar.jpg" alt="">
                                </div>
                                <div class="block-content">
                                    <form  action="/addContract" method="POST">
                                        <div class="form-group row">
                                            <div class="col-12">
                                                <div class="form-material">
                                                    <input type="text" class="form-control" id="lock2-password" name="name" placeholder="ادخل اسم خطة التعاقد ..">اسم التعاقد</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-12">
											
                                                <button type="submit" class="btn btn-alt-success">
                                                    <i class="fa fa-plus mr-5"></i> اضافة الخطة
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- END Material Lock -->
                        </div>
                    </div>
                    <!-- END Lock Forms -->