<script src="https://cdn.jsdelivr.net/gh/linways/table-to-excel@v1.0.4/dist/tableToExcel.js"></script>

<h2 class="content-heading">خطط الاشتراك</h2>
<div class="block">
  <div class="block-header block-header-default">
    <h3 class="block-title">
      <a class="btn btn-primary" href="/addContract">اضافة تعاقد</a>
    </h3>

    <button
      class="btn btn-danger"
      onclick="exportTableToExcel('mytable', 'members-data.xlsx')"
    >
      تحميل قائمة التعافدات
    </button>
  </div>
</div>

<table class="table table-bordered table-hover table-striped text-center">
  <thead>
    <tr>
      <th>اسم التعاقد</th>

      <th>الاجرائات</th>
    </tr>
  </thead>
  <tbody>
    <% for(var contract in contracts){ %>
    <tr>
      <td>
        <%= contracts[contract].Name %>
      </td>

      <td>
        <a href="/editContract/<%=contract%>" class="btn btn-primary">تعديل</a>

        <a href="/removeContract/<%= contract %>" class="btn btn-danger">مسح</a>
      </td>
    </tr>

    <% } %>
  </tbody>
</table>

<table id="mytable" charset="UTF-8">
  <tbody style="display: none;">
    <tr>
      <th>اسم التعاقد</th>
    </tr>

    <% for(var contract in contracts){ %>
    <tr>
      <td>
        <%= contracts[contract].Name %>
      </td>
    </tr>

    <% } %>
  </tbody>
</table>

<script charset="UTF-8">
  function exportTableToExcel(tableID, filename = '') {
    TableToExcel.convert(document.getElementById('mytable'));
  }
</script>
