<div class="sidebar-container">
  <div   class="sidebar-logo">
    بوابة
  </div>
  <ul class="sidebar-navigation"  >
    <li>
      <a href="/orders"  >
        <i   aria-hidden="true"></i> الطلبات
      </a>
    </li>
    <li>
      <a href="/Requests"   >
        <i   aria-hidden="true"></i> الطلبيات
      </a>
    </li>

    <li>
      <a   href="/contracts">
        <i   aria-hidden="true"></i> التعاقدات
      </a>
    </li>
    <li>
      <a href="/salemen"  >
        <i   aria-hidden="true"></i> البائعين
      </a>
    </li>
       <li>
            <a href="/customers"  >
                <i   aria-hidden="true"></i> العملاء
            </a>
        </li>


    <li>
      <a href="/supports"  >
        <i   aria-hidden="true"></i> الدعم
      </a>
    </li>
  </ul>
</div>


<div class="content-container">
    <div class="container-fluid">
        <div class="jumbotron text-center">
            <h1>العملاء</h1>
        </div>
        <a class="btn btn-primary" href="/addCustomer" style="margin: 10; position:relative; left: 1000px;">اضافة
            عميل</a>
        <table class="table table-bordered table-hover table-striped text-center">
            <thead>
                <tr>
                    <th>اسم العميل</th>
                    <th>بريد العميل</th>

                    <th>الاجرائات</th>
                </tr>
            </thead>
            <tbody>
                <% for(var customer in customers){ %>
                <tr>
                    <td>
                        <%= customers[customer].customerName %>
                    </td>

                    <td>
                        <%= customers[customer].customerEmail %>
                    </td>
                    <td>
                        <a href="/editCustomer/<%= customer %>" class="btn btn-primary">تعديل</a>

                        <a href="/removeCustomer/<%= customer %>" class="btn btn-danger">مسح</a>
                    </td>
                </tr>

                <% } %>
            </tbody>
        </table>
    </div>
</div>
</body>