<h2 class="content-heading">ارسال اشعار جماعي</h2>
<form action="/notification" method="POST">
  <div class="row">
    <div class="col-xl-12">
      <div class="block">
        <div class="block-header block-header-default">
          <h3 class="block-title">الاشخاص المستهدفين</h3>
        </div>

        <div class="form-group row">
          <div class="col-12">
            <div class="custom-control custom-radio mb-5">
              <input
                class="custom-control-input"
                type="radio"
                name="radio"
                id="example-radio1"
                value="CUSTOMER"
                checked
              />
              <label class="custom-control-label" for="example-radio1"
                >ارسال للعملاء</label
              >
            </div>
            <div class="custom-control custom-radio mb-5">
              <input
                class="custom-control-input"
                type="radio"
                name="radio"
                id="example-radio2"
                value="DRIVER"
              />
              <label class="custom-control-label" for="example-radio2"
                >ارسال للمندوبين</label
              >
            </div>
          </div>
        </div>
      </div>

      <div class="block">
        <div class="block-header block-header-default">
          <h3 class="block-title">محتوي الرسالة</h3>
        </div>
        <div class="block-content">
          <div class="form-group row">
            <div class="col-md-9">
              <div class="form-material floating">
                <input
                  type="text"
                  name="head"
                  class="form-control"
                  class="form-control"
                  id="material-text2"
                />
                <label for="material-text2">عنوان الرسالة</label>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-9">
              <div class="form-material floating">
                <input
                  type="text"
                  name="body"
                  class="form-control"
                  class="form-control"
                  id="material-text2"
                />
                <label for="material-text2">مضمون الرسالة</label>
              </div>
            </div>
          </div>
        </div>
        <input type="submit" value="ارسال " class="btn btn-primary btn-lg" />
      </div>
      <!-- END Sizes -->
    </div>
  </div>
</form>
