<h2 class="content-heading">خطط الدعم</h2>
<div class="block">
  <div class="block-header block-header-default">
    <h3 class="block-title">
      <a class="btn btn-primary" href="/addSupport">اضافة دعم</a>
    </h3>

    <button
      class="btn btn-danger"
      onclick="exportTableToExcel('mytable', 'support-data')"
    >
      تحميل قائمة الدعم
    </button>
  </div>
</div>

<table class="table table-bordered table-hover table-striped text-center">
  <thead>
    <tr>
      <th>اسم خطة الدعم</th>

      <th>الاجرائات</th>
    </tr>
  </thead>
  <tbody>
    <% for(var support in supports){ %>
    <tr>
      <td>
        <%= supports[support].Name %>
      </td>

      <td>
        <a href="/editSupport/<%= support %>" class="btn btn-primary">تعديل</a>

        <a href="/removeSupport/<%= support %>" class="btn btn-danger">مسح</a>
      </td>
    </tr>

    <% } %>
  </tbody>
</table>
<table id="mytable" charset="UTF-8">
  <tbody style="display:none">
    <tr>
      <th>اسم خطة الدعم</th>
    </tr>

    <% for(var support in supports){ %>
    <tr>
      <td>
        <%= supports[support].Name %>
      </td>
    </tr>

    <% } %>
  </tbody>
</table>
<script charset="UTF-8">
  function exportTableToExcel(tableID, filename = '') {
    var downloadLink;
    var dataType =
      'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet';
    var tableSelect = document.getElementById(tableID);
    var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');

    // Specify file name
    filename = filename ? filename + '.xlsx' : 'excel_data.xlsx ';

    // Create download link element
    downloadLink = document.createElement('a');

    document.body.appendChild(downloadLink);

    if (navigator.msSaveOrOpenBlob) {
      var blob = new Blob(['\efbbbf', tableHTML], {
        type: dataType
      });
      navigator.msSaveOrOpenBlob(blob, filename);
    } else {
      // Create a link to the file
      downloadLink.href = 'data:' + dataType + ', ' + tableHTML;

      // Setting the file name
      downloadLink.download = filename;

      //triggering the function
      downloadLink.click();
    }
  }
</script>
